<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.order.mapper.OrderMapper">
	<!-- 配置订单对象 -->
	<resultMap type="Orders" id="OrderRm" autoMapping="true">
		<id property="orderId" column="order_Id" />
		<!-- 一对一 -->
		  <association select="queryOrderShippingByOrderId"  property="orderShipping" column="order_Id" javaType="OrderShipping">
		  	<id property="orderId" column="order_Id"/>		  
		  </association>
		  
		  <!-- 一对多 -->	
		  	<collection select="queryOrderItemByOrderId" property="orderItems" column="order_Id">
		  		<id property="orderId" column="order_Id"/>
		  		<id property="itemId" column="item_Id"/>
		  	</collection>		  
	</resultMap>


	<insert id="create" parameterType="Orders">
		insert into tb_order (order_id,payment,payment_type,post_fee,status,payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rate,created,updated)
		values(#{orderId},#{payment},#{paymentType},#{postFee},#{status},#{paymentTime},#{consignTime},#{endTime},#{closeTime},#{shippingName},#{shippingCode},#{userId},#{buyerMessage},#{buyerNick},#{buyerRate},now(),now());
		
		insert into tb_order_item (item_id,order_id,num,title,price,total_fee,pic_path)
		values(
		<foreach collection="orderItems" item="item" separator=",">
		 #{item.itemId},#{item.orderId},#{item.num},#{item.title},#{item.price},#{item.totalFee},#{item.picPath}
		</foreach>
		);
		insert into tb_order_shipping (order_id,receiver_name,receiver_phone,receiver_mobile,receiver_state,receiver_city,receiver_district,receiver_address,receiver_zip,created,updated)
		values(#{orderShipping.orderId},#{orderShipping.receiverName},#{orderShipping.receiverPhone},#{orderShipping.receiverMobile},#{orderShipping.receiverState},#{orderShipping.receiverCity},#{orderShipping.receiverDistrict},#{orderShipping.receiverAddress},#{orderShipping.receiverZip},now(),now()) 		
	</insert>
	
	<select id="queryOrdersByOrderId" parameterType="string" resultMap="OrderRm">
		select * from tb_order where order_Id=#{orderId}	
	</select>
	<select id="queryOrderItemByOrderId" parameterType="string" resultType="OrderItem">
		select * from tb_order_Item where order_Id=#{orderId}
	</select>
	<select id="queryOrderShippingByOrderId" parameterType="string" resultType="OrderShipping">
		select * from tb_order_shipping where order_Id=#{orderId}	
	</select>
		
</mapper>